<%= form_for(@dounut) do |f| %>
  <% if @dounut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dounut.errors.count, "error") %> prohibited this dounut from being saved:</h2>

      <ul>
      <% @dounut.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :topping %><br>
    <%= f.text_area :topping %>
  </div>
  <div class="field">
    <%= f.label :topping %><br>
    <%= f.text_area :topping %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
